.formContainer{
    // background-color: #a7bcff;
    background-image: url('../src/images/187161.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .formWrapper{
        // position: absolute;
        // right: 500px;
        // z-index: 3000;
        background-color: transparent;
        backdrop-filter: blur(2px);
        box-shadow: 0 4px 40px #202023;
        padding: 20px 60px;
        border: 1px solid #a6a4df;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        .logo{
            color: #a7bcff;
            font-weight: bold;
            font-size: 36px;
            display: flex;
            justify-content: center;
            gap: 10px;
        }        
        .title{
            color: #a7bcff;
            font-size: 12px;
        }
        form{
            display: flex;
            flex-direction: column;
            gap: 15px;

            input{
                padding: 15px;
                border: none;
                width: 250px;
                outline: none;
                border-bottom: 1px solid #a7bcff;
                background: none;
                font-size: 12px;
                color: #a7bcff;
                &::placeholder{
                    color: #a7bcff;
                    font-size: 12px;
                }
            }
            button{
                cursor: pointer;
                padding: 15px;
                border: none;
                outline: none;
                // background-color: #a6a4df ;
                color: #5d5b8d;
                background-color: rgba(241, 241, 71, 0.886);
                border-radius: 10px;
                font-size: 16px;
            }
            button:hover{
                background-color: rgba(244, 55, 115, 0.948);
                color: #a7bcff;
            }
            label{
                display: flex;
                align-items: center;
                gap: 10px;
                span{
                    color: #a7bcff;
                    font-size: small;
                }
            }
        }
        p{
            // color: #5d5b8d;
            color: #a7bcff;

            span{
                color: #d2cd6b;
                cursor: pointer;
            }
            span:hover{
                color:  rgba(244, 55, 115, 0.948);
            }
        }
    }
}

.home{
    background-image: url('../src/images/187161.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container{
        background-color: transparent;
        // backdrop-filter: blur(5px);
        box-shadow: 0 4px 40px #202023;
        // padding: 20px 60px;
        width: 65%;
        height: 80%;
        border: 1px solid #a6a4df;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        overflow: hidden;

        .sidebar{
            flex: 1;
            // background-color: rgba(244, 55, 115, 0.948);
            border-right: 1px solid #a6a4df;
            backdrop-filter: blur(10px);
            position: relative;

            .navbar{
                display: flex;
                padding: 5px;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid #a6a4df;
                background-color: rgba(244, 55, 115, 0.948);
                .logo{
                    display: flex;
                    gap: 10px;
                    color: white;
                    align-items: center;
                    justify-self: flex-start;
                }
                .user{
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;

                    button{
                        cursor: pointer;
                        display: flex;
                        align-content: center;
                        border: none;
                        padding: 5px;
                        border-radius: 4px;
                        background-color: #d2cd6b;
                        color: rgba(244, 55, 115, 0.948);
                    }
                    button:hover{
                        background-color: rgba(244, 55, 115, 0.948);
                        color: #d2cd6b;
                        border: 1px solid #d2cd6b;
                    }
                }
            }
            .search{
                border-bottom: 1px solid #a6a4df;
                // backdrop-filter: blur(2px);

                .searchForm{
                    .searchBox{
                        display: flex;
                        justify-content: space-evenly;
                        text-align: center;
                        padding: 8px;
                        span{
                            padding-left: 20px;
                            padding-top: 2px;
                            justify-self: center;
                            color: #d2cd6b;
                        }
                        input{
                            background-color: transparent;
                            color: #a6a4df;
                            border: none;
                            outline: none;
                            padding-left: 10px;
                            // height: 30px;
                            width: 290px;
                            &::placeholder{
                                color: #d2cd6b;
                                display: flex;
                                justify-self: center;
                                align-self: center;
                            }
                        }
                    }
                }
                .userInfo{
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    backdrop-filter: blur(10px);
                    .userProfile{
                        cursor: pointer;
                        color: #a7bcff;
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        padding: 10px;
                        gap: 10px;
                    }
                    .userProfile:hover{
                        background-color: rgba(244, 55, 115, 0.948);
                        color: white;
                        padding: 5px;
                        border-radius: 10px;
                    }
                }
            }
            .chats{
                display: flex;
                flex-direction: column;
                height: 390px;
                overflow-y: scroll;
                &::-webkit-scrollbar{
                    display: none;
                }
                .userProfile{
                    cursor: pointer;
                    color: #a7bcff;
                    display: flex;
                    // justify-content: flex-start;
                    // align-items: center;
                    padding: 5px;
                    gap: 10px;
                    border-bottom: 1px solid #a6a4df;

                    .userChatInfo{
                        display: flex;
                        flex-direction: column;
                        span{
                            font-weight: bold;
                        }
                        p{
                            font-size: small;
                            display: contents;
                        }
                    }
                }
                .userProfile:hover{
                    background-color: rgba(244, 55, 115, 0.948);
                    color: white;
                    padding: 5px;
                    border-radius: 10px;
                }
            }
            .homeInfo{
                border-top: 1px solid #a7bcff;
                position: fixed;
                bottom: 4px;
                width: 353px;
                
                background-color: rgba(244, 55, 115, 0.948);
                
                span{
                    display: flex;
                    gap: 10px;
                    font-size: 12px;
                    height: 32px;
                    color: white;
                    justify-content: center;
                    padding-top: 10px;
                    align-items: center;
                }
            }
        }
        .logoButton{
            &:hover{
                background-color: #635fd3;
            }
        }
        .logoContainer {
            position: relative;
          }
          .menu {
            position: fixed;
            z-index: 3000;
            top: 120px;
            left: 120px;
            display: flex;
            flex-direction: column;
            // background-color: #fff;
            border-radius: 5px;
            padding: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          }
          .menu button {
            margin: 5px;
          }
        .chat{
            flex: 2;
            // background-color: #d2cd6b;
            // backdrop-filter: blur(2px);
            position: relative;

            .chatInfo{
                display: flex;
                padding: 7px;
                justify-content: space-between;
                // align-items: center;
                gap: 10px;
                background-color: rgba(161, 16, 122, 0.948);
                border-bottom: 1px solid #a6a4df;
                span{
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    color: white;
                }

                .chatIcons{
                    cursor: pointer;
                    display: flex;
                    gap: 10px;
                }
            }

            .messages{
                // background-color: #a6a4df;
                backdrop-filter: blur(2px);
                padding: 10px;
                height: calc(100% - 110px);
                overflow-y: scroll;
                &::-webkit-scrollbar{
                    display: none;
                }

                .message{
                    display: flex;
                    gap: 10px;
                    margin-bottom: 20px;

                    .messageInfo{
                        display: flex;
                        flex-direction: column;
                        color: #a7bcff;
                        font-size: 12px;
                    }
                    .messageContent{
                        // width: 50%;
                        gap: 4px;
                        max-height: 80%;
                        display: flex;
                        flex-direction: column;
                        margin: none;

                        span{
                            // backdrop-filter: blur(10px);
                            background-color:  rgba(244, 55, 115, 0.948);
                            border: 1px solid #a6a4df;  
                            box-shadow: 0px 0px 8px #202023;
                            padding: 10px 12px 10px 12px; 
                            font-size: 14px;
                            color: white;
                            border-radius: 0px 10px 10px 20px;
                            max-width: max-content;
                            margin: none;
                        }  
                    }  
                    &.owner{
                        display: flex;
                        flex-direction: row-reverse;

                        .messageContent{
                            align-items: flex-end;
                            span{
                            color: #202023;
                            background-color: #d2cd6b;
                            border-radius: 10px 0px 20px 10px;
                            }
                        }
                    }
                }
            }

            .input{
                backdrop-filter: blur(5px);
                position: relative;
                z-index: 3000;
                padding: 5px;
                gap: 5px;
                border-top: 1px solid #a6a4df;
                display: flex;
                // height: 50px;
            }
        }
    }
}